.marriage {
    margin-top: 5%
}
form {
    width: '100%';
   
}
.paper {
    padding: 10px;
}

.margin-10 {
    margin: 10px !important;
}
.margin-10-bottom {
    margin-bottom: 10px !important;
}
h6{
    margin: 0px;
}